@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

li {
  font-family: var("--font-gill");
}

h5 {
  font-family: var("--font-poppins");
}
