@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

@font-face {
  font-family: 'Acumin Pro';
  src: url('../assets/fonts/Acumin-Pro-ExtraLight.ttf') format(ttf);
}

:root {
  --swiper-navigation-color: black !important;
  --swiper-theme-color: black !important;
  }

li {
  font-family: var("--font-gill");
}

h5 {
  font-family: var("--font-poppins");
}

.font-accumin{
  font-family: 'Acumin Pro', sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
color: black;
}