@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
/* 
@font-face {
  font-family: "Acumin Pro";
  src: url("../assets/fonts/Acumin-Pro-ExtraLight.ttf") format(ttf); */
/* } */

:root {
  --swiper-navigation-color: black !important;
  --swiper-theme-color: black !important;
}

/* li {
  font-family: var("--font-gill");
}

h5 {
  font-family: var("--font-poppins");
}

.font-accumin {
  font-family: "Acumin Pro", sans-serif;
} */

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

@media (min-width: 1024px) {
  .about-section {
    max-width: 79rem;
  }
}

@media (min-width: 1280px) {
  .about-section {
    max-width: 84rem;
  }
}

@media (min-width: 1366px) {
  .about-section {
    max-width: 82rem;
  }
}

@media (min-width: 1408px) {
  .about-section {
    max-width: 83rem;
  }
}

@media (min-width: 1536px) {
  .about-section {
    max-width: 84rem;
  }
}

@media (min-width: 1792px) {
  .about-section {
    max-width: 84rem;
  }
}

@media (min-width: 1920px) {
  .about-section {
    max-width: 86rem;
  }
}

@media (min-width: 2048px) {
  .about-section {
    max-width: 88rem;
  }
}

@media (min-width: 2176px) {
  .about-section {
    max-width: 92rem;
  }
}

@media (min-width: 2304px) {
  .about-section {
    max-width: 96rem;
  }
}

@media (min-width: 2560px) {
  .about-section {
    max-width: 96rem;
  }
}

@media (min-width: 2816px) {
  .about-section {
    max-width: 116rem;
  }
}